@tailwind base;
@tailwind components;
@tailwind utilities;

.flexbox-container {
    display: flex;
    flex-direction: row;
}

.flexbox-inside{
    display: flex;
    flex-direction:column;
}

::-webkit-scrollbar {
    width: 5px;
    height: 15px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #F9FAFB;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #955;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #955;
}